<%= form_with(model: status) do |form| %>
  <% if status.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
        <% status.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <b><%= form.label "Nombre status", style: "display: block" %></b>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <br>

  <div>
    <%= form.submit "Crear", class: "btn btn-primary btn-sm" %>
    <%= link_to 'Cancelar', statuses_path, class: "btn btn-outline-danger btn-sm" %>
  </div>

<% end %>



