<p style="color: green"><%= notice %></p>

<title>Status &middot; Clínica Dental San Antonio</title>

<p style="color: green"><%= notice %></p>

<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">

      <div class="col-lg-8 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Status</h4>
            <p class="card-description">
              Status de citas (appointments status).
            </p>

            <%= link_to "Crear nuevo status", new_status_path, class: "btn btn-success" %>

            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>ID No.</th>
                  <th>Nombre Status</th>
                </tr>
                </thead>


                <tbody>
                <% @statuses.each do |status| %>
                  <tr>
                    <td><%= status.id %></td>
                    <td><%= status.name %></td>
                    <td><%= link_to "Ver", status, class: "btn btn-secondary" %></td>
                    <td><%= link_to "Editar", edit_status_path(status), class: "btn btn-info" %></td>
                <% end %>
                </tbody>


              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
