<title>Dentistas &middot; Clínica Dental San Antonio</title>

<div class="page-content page-container d-flex justify-content-center align-items-center" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">

      <div class="col-lg-16 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-7"><h2>Lista <b>Dentistas</b></h2></div>

              <div class="col-sm-5">
                <% if user_is_dentist? || user_is_admin? || user_is_secretary? %>
                  <%= form_tag users_dentists_path, method: :get, class: "form-inline" do %>
                    <div class="search-box">
                      <%= text_field_tag :search, params[:search], class: "search form-control", placeholder: "Buscar por nombre, apellido o rut del dentista" %>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <p class="card-description">
                Lista de dentistas de la Clínica San Antonio.
              </p>
            </div>

            <% if user_is_admin? %>
              <%= link_to "Añadir dentista", users_new_path, class: "btn btn-success" %>
              <br> <br>
            <% end %>

            <div class="table-responsive">
              <div class="pagination">
                <br>
                <%= paginate @dentists %>
              </div>
              <table class="table">
                <thead>
                <tr>
                  <th>ID No.</th>
                  <th width = "120px">RUT</th>
                  <th width="180px">Nombres</th>
                  <th width="180px">Apellidos</th>
                  <th>Correo electrónico</th>
                  <th>Número telefónico</th>
                </tr>
                </thead>

                <tbody>

                <% @dentists.each do |dentist| %>
                <tr>
                  <td><%= dentist.id %></td>
                  <td><%= dentist.rut %></td>
                  <td><%= dentist.name %></td>
                  <td><%= dentist.last_name %></td>
                  <td><%= dentist.email %></td>
                  <td><%= dentist.phone %></td>

                  <% if user_is_admin? || user_is_secretary? %>
                    <td><%= link_to "Ver", dentist, class: "btn btn-secondary" %></td>
                  <% end %>

                <% end %>

                </tbody>

              </table>
              <div class="pagination">
                <br>
                <%= paginate @dentists %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<br> <br> <br> <br>