<title>Nuevo Usuario  &middot; Clínica Dental San Antonio</title>

<body class="my-login-page">
<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100">
      <div class="card-wrapper">
        <div class="card fat">
          <div class="card-body">
            <div class="col-sm-7"><h2>Nuevo <b>usuario</b></h2></div><br>

            <%= form_with(model: @user, url: users_create_path, method: :post) do |f| %>
              <% if @user.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@user.errors.count, "error") %> errores impiden crear este usuario:</h2>

                  <ul>
                    <% @user.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>


              <% if user_is_admin? %>
                <div class="field">
                  <b><%= f.label :role %></b><br />
                  <%= f.collection_select :role_id, Role.all.order(id: :asc), :id, :name %>
                </div>
              <% end %> <br />

              <div class="form-group">
                <b><%= f.label "Run", class: "form-label" %></b><br />
                <%= f.text_field :rut, autofocus: true, autocomplete: "Run", class: "form-control" %>
              </div>

              <div class="form-group">
                <b><%= f.label "Nombres", class: "form-label" %></b><br />
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
              </div>

              <div class="form-group">
                <b><%= f.label "Apellidos", class: "form-label" %></b><br />
                <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control" %>
              </div>

              <div class="form-group">
                <b><%= f.label "Número telefónico", class: "form-label" %></b>
                <em>(9xxxxxxxx)</em><br />
                <%= f.text_field :phone, autofocus: true, autocomplete: "phone", class: "form-control" %>
              </div>

              <div class="field form-group">
                <b><%= f.label "Correo electrónico", class: "form-label" %></b>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
              </div>

                <div class="field form-group">
                  <b><%= f.label "Contraseña", class: "form-label"  %></b>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> caracteres como mínimo)</em>
                  <% end %>
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
              </div>

                <br />

                <div class="align-self-center">
                  <%= f.button "Crear", :type => "submit", :class => "btn btn-primary btn-sm" %>
                  <%= link_to "Cancelar", :back, class: "btn btn-outline-danger btn-sm" %>
                </div>

            <% end %>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>