<title>Pacientes &middot; Clínica Dental San Antonio</title>

<p style="color: green"><%= notice %></p>

<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">

      <div class="col-lg-8 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Pacientes</h4>
            <p class="card-description">
              Pacientes de la Clínica San Antonio.
            </p>

            <% if user_is_admin? || user_is_secretary? %>
              <%= link_to "Añadir paciente",users_new_path, class: "btn btn-success" %>
            <% end %>

            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>ID No.</th>
                  <th>RUT</th>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Correo electrónico</th>
                  <th>Número telefónico</th>
                </tr>
                </thead>

                <tbody>
                <% @patients.each do |patient| %>
                  <tr>
                    <td><%= patient.id %></td>
                    <td><%= patient.rut %></td>
                    <td><%= patient.name %></td>
                    <td><%= patient.last_name %></td>
                    <td><%= patient.email %></td>
                    <td><%= patient.phone %></td>
                    <td><%= link_to "Mostrar", patient, class: "btn btn-primary" %></td>

                  </tr>
                <% end %>


              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>