<title>Perfil &middot; Clínica Dental San Antonio</title>

<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">

      <div class="col-lg-8 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">

            <h4 class="card-title">Perfil</h4>
            <p class="card-description">
              Perfil de usuario.
            </p>

                    <div class="card">
                      <table class="table">

                        <tr>
                          <td><b>Rut</b></td>
                          <td><%= @user_from_users.rut %></td>
                        </tr>
                        <tr>
                          <td><b>Nombres </b></td>
                          <td><%= @user_from_users.name %></td>
                        </tr>
                        <tr>
                          <td><b>Apellidos </b></td>
                          <td><%= @user_from_users.last_name %></td>
                        </tr>
                        <tr>
                          <td><b>Correo electrónico</b></td>
                          <td><%= @user_from_users.email %></td>
                        </tr>
                        <tr>
                          <td><b>Número de teléfono </b></td>
                          <td><%= @user_from_users.phone %></td>
                        </tr>

                      </table>
                    </div>

         <% if current_user == @user %>
              <br>
              <%= link_to "Editar perfil", edit_user_registration_path, class: "btn btn-info btn-sm" %>
              <br>
         <% end %>
                    <br>


            <% if user_is_admin? || user_is_secretary? %>
              <%= form_for(@user, html: { method: :put }) do |f| %>

                <% if user_is_admin? %>
                  <div class="field">
                    <b><%= f.label "Rol" %></b><br />
                    <%= f.collection_select :role_id, Role.all.order(name: :asc), :id, :name %>
                  </div>
                <% end %>

                <div class="field">
                  <b><%= f.label "Nombres" %></b><br />
                  <%= f.text_field :name, autofocus: true %>
                </div>

                <div class="field">
                  <b><%= f.label "Apellidos" %></b><br />
                  <%= f.text_field :last_name, autofocus: true %>
                </div>

                <div class="field">
                  <b><%= f.label "Correo electrónico" %></b><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>

                <div class="field">
                  <b><%= f.label "Número telefónico" %></b><br />
                  <%= f.text_field :phone, autofocus: true, autocomplete: "phone" %>
                </div>

                <br>
                <%= f.submit "Guardar cambios", class: "btn btn-primary btn-sm" %>
              <% end %>
            <% end %>

            <br> <br>

            <% if user_is_admin? || user_is_secretary? || user_is_dentist? %>
                <% if @user.role_id == 1 || @user.role_id == 2 %>
                    <div class="col-lg-14 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">Citas</h4>
                          <p class="card-description">
                            Citas asociadas a usuario.
                          </p>


                          <div class="table-responsive">
                            <div class="pagination">
                              <%= paginate @appointments %>
                            </div>
                            <table class="table">
                              <thead>
                              <tr>
                                <th>ID No.</th>
                              <% if @user.role_id == 2 %>
                                <th>Rut paciente</th>
                                <th>Nombre paciente</th>
                              <% else %>
                                <th>Rut dentista</th>
                                <th>Nombre dentista</th>
                              <% end %>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Estado</th>
                              </tr>
                              </thead>

                              <tbody>
                              <% @appointments.each do |appointment| %>
                                <tr>
                                  <td><%= appointment.id %></td>
                                  <% if @user.role_id == 2 %>
                                    <td><%= User.find_by(id: appointment.user_id).rut_patient %></td>
                                    <td><%= User.find_by(id: appointment.user_id).name_patient %></td>
                                  <% else %>
                                    <td><%= User.find_by(id: appointment.dentist_id).rut_dentist %></td>
                                    <td><%= User.find_by(id: appointment.dentist_id).name_dentist%></td>
                                  <% end %>
                                  <td><%= appointment.fecha %></td>
                                  <td><%= appointment.hora %></td>
                                  <td><%= Status.find_by(id: appointment.status_id).name %></td>
                                  <td><%= link_to "Ver" , appointment, class: "btn btn-secondary" %></td>
                                </tr>
                              <% end %>
                              </tbody>

                            </table>
                            <div class="pagination">
                              <%= paginate @appointments %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                <% end %>
            <% end %>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>


