<title>Perfil &middot; Clínica Dental San Antonio</title>

<div class="page-content page-container d-flex justify-content-center align-items-center" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">

      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">

            <h3 class="card-title">Perfil</h3>
            <p class="card-description">
              Perfil de usuario.
            </p>

                    <div class="card">
                      <table class="table">

                        <% if user_is_patient? || user_is_dentist? || user_is_inactive? || current_user == @user %>

                        <tr>
                          <td width="300px"><b>Rut</b></td>
                          <td width="300px"><%= @user_from_users.rut %></td>
                        </tr>
                        <tr>
                          <td><b>Nombres </b></td>
                          <td><%= @user_from_users.name %></td>
                        </tr>
                        <tr>
                          <td><b>Apellidos </b></td>
                          <td><%= @user_from_users.last_name %></td>
                        </tr>
                        <tr>
                          <td><b>Correo electrónico</b></td>
                          <td><%= @user_from_users.email %></td>
                        </tr>
                        <tr>
                          <td><b>Número de teléfono </b></td>
                          <td><%= @user_from_users.phone %></td>
                        </tr>
                          </table>

                          </div>
                          <%= link_to "Editar perfil", edit_user_registration_path, class: "btn btn-info btn-sm" %>

                          <% elsif user_is_admin? || user_is_secretary? %>

                          <%= form_for(@user, html: { method: :put }) do |f| %>

                            <tr>
                              <td width="300px"><b>Rol</b></td>
                              <td width="300px"><%= f.collection_select :role_id, Role.all.order(id: :asc), :id, :name %></td>
                            </tr>
                          <tr>
                            <td width="300px"><b>Rut</b></td>
                            <td width="300px"><%= @user_from_users.rut %></td>
                          </tr>
                          <tr>
                            <td><b>Nombres </b></td>
                            <td><%= f.text_field :name, autofocus: true %></td>
                          </tr>
                          <tr>
                            <td><b>Apellidos </b></td>
                            <td><%= f.text_field :last_name, autofocus: true %></td>
                          </tr>
                          <tr>
                            <td><b>Correo electrónico</b></td>
                            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
                          </tr>
                          <tr>
                            <td><b>Número de teléfono </b></td>
                            <td><%= f.text_field :phone, autofocus: true, autocomplete: "phone" %></td>
                          </tr>
                            </table>
                            <br>

                            </div>

                            <% if current_user != @user %>
                              <%= f.submit "Guardar cambios", class: "btn btn-primary btn-sm" %>
                            <% end %>
                            <% if current_user == @user %>
                              <br>
                              <%= link_to "Editar perfil", edit_user_registration_path, class: "btn btn-info btn-sm" %>
                              <br>
                            <% end %>

                        <% end %>
                      <% end %>


            <br> <br>

            <% if user_is_admin? || user_is_secretary? || user_is_dentist? %>
                <% if @user.role_id == 1 || @user.role_id == 2 %>
                    <div class="col-lg-14 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">Citas</h4>
                          <p class="card-description">
                            Citas asociadas a usuario.
                          </p>


                          <div class="table-responsive">
                            <div class="pagination">
                              <%= paginate @appointments %>
                            </div>
                            <table class="table">
                              <thead>
                              <tr>
                              <% if @user.role_id == 2 %>
                                <th>Rut paciente</th>
                                <th>Nombre paciente</th>
                              <% else %>
                                <th width="120px">Rut dentista</th>
                                <th>Nombre dentista</th>
                              <% end %>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Estado</th>
                              </tr>
                              </thead>

                              <tbody>
                              <% @appointments.each do |appointment| %>
                                <tr>
                                  <% if @user.role_id == 2 %>
                                    <td><%= User.find_by(id: appointment.user_id).rut_patient %></td>
                                    <td><%= User.find_by(id: appointment.user_id).name_patient %></td>
                                  <% else %>
                                    <td><%= User.find_by(id: appointment.dentist_id).rut_dentist %></td>
                                    <td><%= User.find_by(id: appointment.dentist_id).name_dentist%></td>
                                  <% end %>
                                  <td><%= appointment.fecha %></td>
                                  <td><%= appointment.hora %></td>
                                  <td><%= Status.find_by(id: appointment.status_id).name %></td>
                                  <td><%= link_to "Ver" , appointment, class: "btn btn-secondary" %></td>
                                </tr>
                              <% end %>
                              </tbody>

                            </table>
                            <div class="pagination">
                              <%= paginate @appointments %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                <% end %>
            <% end %>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>


