<p style="color: green"><%= notice %></p>

<%= render @rol %>

<div>
  <%= link_to "Edit this rol", edit_rol_path(@rol) %> |
  <%= link_to "Back to rols", rols_path %>

  <%= button_to "Destroy this rol", @rol, method: :delete %>
</div>
