<title>Tipos urgencias &middot; Clínica Dental San Antonio</title>

<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">

      <div class="col-lg-8 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="col-sm-7"><h2>Tipos <b>urgencias</b></h2></div><br>
            <p class="card-description">
              Clasificación urgencias Clínica San Antonio.
            </p>

            <%= link_to "Crear nueva urgencia", new_urgencium_path , class: "btn btn-success" %>

            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>ID No.</th>
                  <th>Tipo urgencia</th>
                </tr>
                </thead>

                <tbody>
                <% @urgencia.each do |urgencia| %>
                  <tr>
                    <td><%= urgencia.id %></td>
                    <td><%= urgencia.name %></td>
                    <td><%= link_to "Ver" , urgencia, class: "btn btn-secondary" %></td>
                    <td><%= link_to "Editar", edit_urgencium_path(urgencia), class: "btn btn-info" %></td>
                  </tr>
                <% end %>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
