<%= form_with(model: morning_time) do |form| %>
  <% if morning_time.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(morning_time.errors.count, "error") %> prohibited this morning_time from being saved:</h2>

      <ul>
        <% morning_time.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <b><%= form.label "Hora", style: "display: block" %></b>
    <%= form.time_field :m_time %>
  </div>

  <br>

  <div>
    <%= form.submit "Crear", class: "btn btn-primary btn-sm" %>
    <%= link_to 'Cancelar', morning_times_path, class: "btn btn-outline-danger btn-sm" %>
  </div>
<% end %>
