<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Kodinger">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Iniciar sesión  &middot; Clínica Dental San Antonio</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/my-login.css">
</head>

<body class="my-login-page">
<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100">
      <div class="card-wrapper">
        <br><br><br>
        <div class="card fat">
          <div class="card-body">
            <h4 class="card-title">Iniciar sesión</h4>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

              <div class="d-flex flex-column justify-content-center align-items-center">

                <div class="form-group">
                  <%= f.label "Correo electrónico", class: "form-label" %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
                    </div>

                    <div class="form-group">
                      <%= f.label "Contraseña", class: "form-label" %>
                      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                        </div>

                        <% if devise_mapping.rememberable? %>
                          <div class="form-check mb-3 w-50">
                            <%= f.check_box :remember_me, class: "form-check-input" %>
                              <%= f.label "Recuérdame", class: "form-check-label" %>
                                </div>
                              <% end %>


                              <div class="mb-3 d-flex align-items-center justify-content-center">
                                <%= f.submit "Iniciar sesión", class: "btn btn-lg btn-primary rounded-pill" %>
                                  </div>

                                  <%= render "devise/shared/links" %>
                                  </div>
                                <% end %>
                          </div>
                      </form>
                  </div>
               </div>
          </div>
      </div>
   </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/my-login.js"></script>
</body>
</html>