<title>Roles &middot; Clínica Dental San Antonio</title>

<p style="color: green"><%= notice %></p>

<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">

      <div class="col-lg-8 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Roles</h4>
            <p class="card-description">
              Roles de usuario.
            </p>

            <%= link_to "Crear nuevo rol", new_role_path, class: "btn btn-success" %>

            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>ID No.</th>
                  <th>Nombre rol</th>
                </tr>
                </thead>

                <tbody>
                <% @roles.each do |role| %>
                  <tr>
                    <td><%= role.id %></td>
                    <td><%= role.name %></td>
                    <td><%= link_to "Ver" , role, class: "btn btn-secondary" %></td>
                    <td><%= link_to "Editar", edit_role_path(role), class: "btn btn-info" %></td>
                  </tr>
                <% end %>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>