<p style="color: green"><%= notice %></p>

<%= render @role %>

<div>

  <% if user_is_secretary? || user_is_admin? %>
    <%= link_to "Editar este rol", edit_role_path(@role) %> |
  <% end %>

  <%= link_to "Volver a roles", roles_path %>


  <% if user_is_admin? %>
    <%= button_to "Eliminar este rol", @role, method: :delete %>
  <% end %>

</div>
