<p id="<%= dom_id appointment %>">


  <p>
    <strong>Run paciente:</strong>
    <%= User.find_by(id: appointment.user_id).rut %>
  </p>
  <p>
    <strong>Paciente:</strong>
    <%= User.find_by(id: appointment.user_id).name_patient %>
  </p>
  <p>
    <strong>Run dentista:</strong>
    <%= User.find_by(id: appointment.dentist_id).rut %>
  </p>
  <p>
    <strong>Dentista:</strong>
    <%= User.find_by(id: appointment.dentist_id).name_dentist %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= appointment.fecha %>
  </p>

  <p>
    <strong>Hora:</strong>
    <%= appointment.hora %>
  </p>
<p>
  <strong>Estado:</strong>
  <%= Status.find_by(id: appointment.status_id).name %>
</p>


