<%= form_with(model: change_status, local: true, html: { class: "form" }) do |form| %>
  <% if change_status.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(change_status.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% change_status.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <b><%= "Cita agendada para las #{@appointment.hora} hrs. del día #{@appointment.fecha}, con la #{@appointment.nombre_dentista}." %></b>

  <% if user_is_admin? || user_is_secretary? %>
    <div class="form-group">
        <div class="form-group">
          <br>
            <b><%= "Rut paciente: " %></b>
            <%= @appointment.rut_paciente %>
        </div>
        <div class="form-group">
          <b><%= "Nombre paciente: " %></b>
          <%= @appointment.nombre_paciente %>
        </div>
    </div>
  <% end %>

    <div class="form-group">
      <label>
        <br>
        <%= form.radio_button :status_id, 2 %>
        <b><span style='color: green;'>Confirmar asistencia a cita.</span></b>
      </label>
      <label>
        <%= form.radio_button :status_id, 3 %>
        <b><span style='color: red;'>Cancelar cita.</span></b>
      </label>
    </div>

  </br>

  <div class="form-group">
    <%= form.submit "Guardar", class: "btn btn-primary btn-sm" %>
    <%= link_to "Cancelar", :back, class: "btn btn-outline-danger btn-sm" %>
  </div>

<% end %>