<%= form_with(model: appointment, local: true, html: { class: "form" }) do |form| %>
  <% if appointment.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if user_is_admin? || user_is_secretary? || user_is_dentist? %>
    <div class="form-group">
      <%= form.label "Paciente" %>
      <%= form.collection_select :user_id, User.where(role_id: 1), :id, :name_patient, class: "form-control small-input" %>
    </div>

  <% else %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  <% end %>

  <div class="form-group">
    <%= form.label "Dentista" %>
    <%= form.collection_select :dentist_id, User.where(role_id: 2).order(name: :asc), :id, :name_dentist, class: "form-control small-input" %>
  </div>

  <div class="form-group">
    <%= form.label "Fecha" %>
    <%= form.date_field :start_time, :class => "form-control", :min => Date.today, :max => Date.today + 1.year %>
  </div>

  <div class="form-group">
    <%= form.label "Hora" %>
    <%= form.collection_select :time, MorningTime.all, :m_time, :m_time %>
  </div>


  <% if user_is_admin? || user_is_secretary? || user_is_dentist? %>
    <div class="form-group">
      <%= form.label :status %>
      <%= form.select :status_id, options_from_collection_for_select(Status.all, 'id', 'name') %>
    </div>
  <% end %>

  <br>

  <div class="form-group">
    <%= form.submit "Guardar", class: "btn btn-primary btn-sm" %>
    <%= link_to "Cancelar", appointments_path, class: "btn btn-outline-danger btn-sm" %>
  </div>

<% end %>