<%= form_with(model: appointment, local: true, html: { class: "form" }) do |form| %>
  <% if appointment.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_field :date, class: "form-control small-input" %>
  </div>

  <div class="form-group">
    <%= form.label :time %>
    <%= form.time_field :time, class: "form-control small-input" %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="form-group">
    <%= form.submit "Guardar", class: "btn btn-primary" %>
  </div>

<% end %>