<%= form_with(model: appointment, local: true, html: { class: "form" }) do |form| %>
  <% if appointment.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <table class="table">
      <thead>

  <% if user_is_admin? || user_is_secretary? || user_is_dentist? %>

        <tr>
          <td><b>Rut paciente</b></td>
          <td><%= User.find_by(id: @patient_recibido).rut %></td>
        </tr>
        <tr>
          <td><b>Nombre paciente</b></td>
          <td><%= User.find_by(id: @patient_recibido).name_patient %></td>
          <%= form.hidden_field :user_id, value: @patient_recibido %>
        </tr>

  <% else %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  <% end %>

        <tr>
          <td><b>Rut dentista</b></td>
          <td><%= User.find_by(id: @dentist_recibido).rut %></td>
        </tr>
        <tr>
          <td><b>Nombre dentista</b></td>
          <td><%= User.find_by(id: @dentist_recibido).name_dentist %></td>
          <%= form.hidden_field :dentist_id, value: @dentist_recibido %>
        </tr>
        <tr>
          <td><b>Fecha</b></td>
          <td><%= form.label :start_time, value: @fecha_recibida %></td>
          <%= form.hidden_field :start_time, value: @fecha_recibida %>
        </tr>
        <tr>
          <td><b>Hora</b></td>
          <td><%= form.collection_select :time, @horas_disponibles, :to_s, :to_s %></td>
        </tr>

  <% if user_is_admin? || user_is_secretary? %>

        <tr>
          <td><b>Mensaje</b></td>
          <td><%= form.text_area :mensaje, class: "form-control" %></td>
        </tr>
        <tr>
          <td><b>Estado</b></td>
          <td><%= form.select :status_id, options_from_collection_for_select(Status.all, 'id', 'name') %></td>
        </tr>

  <% end %>

      </thead>
    </table>
  </div>

  <br>

  <% if user_is_patient? %>
    <div class="form-group">
      <%= link_to "Volver a seleccionar dentista", :back, class: "btn btn-info btn-sm" %>
    </div>
    <br> <br>
  <% end %>

  <div class="form-group">
    <%= form.submit "Guardar", class: "btn btn-primary btn-sm" %>
    <%= link_to "Cancelar", calendar_path, class: "btn btn-outline-danger btn-sm" %>
  </div>

<% end %>