<%= form_with(model: appointment, local: true, html: { class: "form" }) do |form| %>
  <% if appointment.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if user_is_admin? || user_is_secretary? || user_is_dentist? %>

    <div class="form-group">
      <b><%= form.label "Rut paciente" %></b>
      <%= User.find_by(id: @patient_recibido).rut %>
    </div>

    <div class="form-group">
      <b><%= form.label "Paciente" %></b>
      <%= User.find_by(id: @patient_recibido).name_patient %>
      <%= form.hidden_field :user_id, value: @patient_recibido %>
    </div>

  <% else %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  <% end %>

  <div class="form-group">
    <b><%= form.label "Rut dentista" %></b>
    <%= User.find_by(id: @dentist_recibido).rut %>
  </div>

  <div class="form-group">
    <b><%= form.label "Dentista" %></b>
    <%= User.find_by(id: @dentist_recibido).name_dentist %>
      <%= form.hidden_field :dentist_id, value: @dentist_recibido %>
  </div>

  <div class="form-group">

    <b><%= form.label "Fecha" %></b>
    <%= form.label :start_time, value: @fecha_recibida %>
    <%= form.hidden_field :start_time, value: @fecha_recibida %>

  </div>

  <div class="form-group">
    <b><%= form.label "Hora" %></b>
    <%= form.collection_select :time, @horas_disponibles, :to_s, :to_s %>
  </div>

  <% if user_is_admin? || user_is_secretary? %>
    <div class="field">
      <b><%= form.label "Mensaje" %></b><br>
      <%= form.text_area :mensaje, class: "form-control" %>
    </div>

    <div class="form-group">
      <b><%= form.label :status %></b>
      <%= form.select :status_id, options_from_collection_for_select(Status.all, 'id', 'name') %>
    </div>
  <% end %>

  <br>

  <% if user_is_patient? %>
    <div class="form-group">
      <%= link_to "Volver a seleccionar dentista", :back, class: "btn btn-info btn-sm" %>
    </div>
    <br> <br>
  <% end %>

  <div class="form-group">
    <%= form.submit "Guardar", class: "btn btn-primary btn-sm" %>
    <%= link_to "Cancelar", calendar_path, class: "btn btn-outline-danger btn-sm" %>
  </div>

<% end %>