<title>Agendar cita &middot; Clínica Dental San Antonio</title>

<% if user_is_patient? %>

<div class="page-content page-container d-flex justify-content-center align-items-center" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">

      <div class="col-lg-10 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="col-sm-7"><h2>Agendar <b>Cita</b></h2></div>
            <p class="card-description">
              Haz clic en el día que quieres agendar tu cita.
            </p>

            <% @no_appointments = false %>
              <%= month_calendar() do |date| %>
                <% if date > Time.now + 1.year + 1.week %>
                  <% @no_appointments = true %>
                  <% break %>
                <% end %>

                <div class="day">
                  <% if date < Time.now %>
                    <%= date.day %>
                  <% else %>
                    <% if date.wday == 0 %>
                      <%= date.day %>
                    <% else %>
                      <%= link_to date.day, agendar_d_path(:fecha_t => date) %>
                    <% end %>
                  <% end %>
                </div>
                </div>
              <% end %>

            <% if @no_appointments %>
              <div class="alert alert-danger" role="alert">
                No hay citas disponibles más allá de 12 meses.
              </div>
            <% end %>

            <div class="form-group">
              <% if @no_appointments %>
                <%= link_to "Volver", agendar_path, class: "btn btn-outline-primary
                 btn-sm" %>
              <% end %>
              <%= link_to "Cancelar", calendar_path, class: "btn btn-outline-danger btn-sm" %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>


