<title>Agendar cita &middot; Clínica Dental San Antonio</title>

<% if user_is_patient? %>

<div class="page-content page-container d-flex justify-content-center align-items-center" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">

      <div class="col-lg-10 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="col-sm-7"><h2>Agendar <b>cita</b></h2></div>
            <p class="card-description">
              Haz clic en el día que quieres agendar tu cita.
            </p>

              <%= month_calendar() do |date| %>
                <div class="day">

                  <% if date < Time.now %>
                    <%= date.day %>
                  <% else %>
                    <% if date.wday == 0 %>
                      <%= date.day %>
                    <% else %>
                      <%= link_to date.day, agendar_d_path(:fecha_t => date) %>
                    <% end %>
                  <% end %>

                </div>
                </div>
              <% end %>

            <div class="form-group">
              <%= link_to "Cancelar", calendar_path, class: "btn btn-outline-danger btn-sm" %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>


