<title>Calendario &middot; Clínica Dental San Antonio</title>

<div class="container mt-5 text-center">

  <div class="page-content page-container d-flex justify-content-center align-items-center">
      <div class="col-lg-6 grid-margin stretch-card align-self-center">
        <div class="card">
          <div class="card-body">

            <h2 class="card-title">Calendario</h2>
            <p class="card-description"> Calendario citas de la Clínica San Antonio.</p>

              <td><span class="status text-warning"> &#9632; Horas agendadas</span></td> |
              <td><span class="status text-success"> &#9632; Horas confirmadas</span></td> |
              <td><span class="status text-secondary"> &#9632; Horas pasadas</span></td>

          </div>
        </div>
      </div>
    </div>

  <div class="page-content page-container d-flex justify-content-center align-items-center">
    <br><br><br>
    <%= form_tag calendar_path, method: :get, class: "form-inline" do %>
      <div class="row">
        <div class="col-sm-8"><%= month_field_tag :start_date, params[:start_date], class: "search form-control" %></div>
        <div class="col-sm-2"><%= submit_tag "Ir a mes", class: "btn btn-outline-dark btn-sm" %></div>
      </div>
    <% end %>
  </div>


<% if user_is_dentist? %>
    <%= month_calendar(events: @appointments) do |date, appointments| %>
      <div class="day">
        <%= date.day %>
      </div>
      <% appointments.each do |appointment| %>
        <div class="card-header">
          <div class="card-title">

            <% if appointment.status_id == 1 || appointment.status_id == 2 %>
              <% if appointment.status_id == 1 %>
                <%= link_to appointment.cita_calendar, appointment, class: "btn btn-outline-warning btn-sm" %>
              <% elsif appointment.status_id == 2 %>
                <%= link_to appointment.cita_calendar, appointment, class: "btn btn-outline-success btn-sm" %>
              <% end %>
            <% end %>

          </div>
        </div>
      <% end %>
    <% end %>
<% end %>


  <% if user_is_patient? %>
    <%= month_calendar(events: @appointments) do |date, appointments| %>
      <div class="day">

          <%= date.day %>

      </div>
      <% appointments.each do |appointment| %>
        <div class="card-header">
          <div class="card-title">

            <% if appointment.status_id == 1 || appointment.status_id == 2 %>
              <% if appointment.status_id == 1 %>
                <%= link_to appointment.cita_calendar_dentista, appointment, class: "btn btn-outline-warning btn-sm" %>
              <% elsif appointment.status_id == 2 %>
                <%= link_to appointment.cita_calendar_dentista, appointment, class: "btn btn-outline-success btn-sm" %>
              <% end %>
            <% end %>

          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>


<% if user_is_admin? || user_is_secretary? %>

  <% @users.each do |user| %>
      <br> <h4><%= user.name_dentist %></h4> <br>

    <%= month_calendar(events: @appointments = Appointment.all.filter { |a| a.dentist_id == user.id}) do |date, appointments| %>
        <div class="day">

          <% if date < Time.now - 1.day %>
            <%= date.day %>
          <% else %>
            <% if date.wday == 0 %>
                <%= date.day %>
             <% else %>
                <%= link_to date.day, agendar_p_path(:fecha_t => date, :dentist_t => user.id) %>
             <% end %>
          <% end %>

        </div>
        <% appointments.each do |appointment| %>
          <div class="card-header">
            <div class="card-title">

                <% if appointment.status_id == 1 || appointment.status_id == 2 || appointment.status_id == 4 %>
                  <% if appointment.status_id == 1 %>
                    <%= link_to appointment.cita_calendar, appointment, class: "btn btn-outline-warning btn-sm"%>
                  <% elsif appointment.status_id == 2 %>
                    <%= link_to appointment.cita_calendar, appointment, class: "btn btn-outline-success btn-sm" %>
                  <% elsif appointment.status_id == 4 %>
                  <%= link_to appointment.cita_calendar, appointment, class: "btn btn-outline-secondary btn-sm" %>
                  <% end %>
                <% end %>

            </div>
          </div>
        <% end %>
    <% end %>
  <% end %>
<% end %>


</div>