<title>Calendario &middot; Clínica Dental San Antonio</title>

<div class="container mt-5 text-center">

  <h2 class="card-title">Calendario</h2>
  <p class="card-description">
    Calendario de la Clínica San Antonio.
  </p>

<% if user_is_dentist? %>
    <%= month_calendar(events: @appointments) do |date, appointments| %>
      <div class="day">
        <%= date.day %>
      </div>
      <% appointments.each do |appointment| %>
        <div class="card-header">
          <div class="card-title">

            <% if appointment.status_id == 1 || appointment.status_id == 2 %>
              <% if appointment.status_id == 1 %>
                <%= link_to appointment.cita_calendar, appointment, class: "btn btn-outline-warning btn-sm" %>
              <% elsif appointment.status_id == 2 %>
                <%= link_to appointment.cita_calendar, appointment, class: "btn btn-outline-success btn-sm" %>
              <% end %>
            <% end %>

          </div>
        </div>
      <% end %>
    <% end %>
<% end %>


  <% if user_is_patient? %>
    <%= month_calendar(events: @appointments) do |date, appointments| %>
      <div class="day">
        <%= date.day %>
      </div>
      <% appointments.each do |appointment| %>
        <div class="card-header">
          <div class="card-title">

            <% if appointment.status_id == 1 || appointment.status_id == 2 %>
              <% if appointment.status_id == 1 %>
                <%= link_to appointment.cita_calendar_dentista, appointment, class: "btn btn-outline-warning btn-sm" %>
              <% elsif appointment.status_id == 2 %>
                <%= link_to appointment.cita_calendar_dentista, appointment, class: "btn btn-outline-success btn-sm" %>
              <% end %>
            <% end %>

          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>


<% if user_is_admin? || user_is_secretary? %>
  <% @users.each do |user| %>
      <br> <h4><%= user.name_dentist %></h4> <br>

    <%= month_calendar(events: @appointments = Appointment.all.filter { |a| a.dentist_id == user.id}) do |date, appointments| %>
      <div class="day">
        <%= date.day %>
      </div>
        <% appointments.each do |appointment| %>
          <div class="card-header">
            <div class="card-title">

                <% if appointment.status_id == 1 || appointment.status_id == 2 %>
                  <% if appointment.status_id == 1 %>
                    <%= link_to appointment.cita_calendar, appointment, class: "btn btn-outline-warning btn-sm" %>
                  <% elsif appointment.status_id == 2 %>
                    <%= link_to appointment.cita_calendar, appointment, class: "btn btn-outline-success btn-sm" %>
                  <% end %>
                <% end %>

            </div>
          </div>
        <% end %>
    <% end %>
  <% end %>
<% end %>
</div>