<title>Editar cita en espera &middot; Clínica Dental San Antonio</title>

<%= form_with(model: @appointment, local: true, html: { class: "form" }) do |form| %>

  <body class="my-login-page">
  <section class="h-100">
    <div class="container h-100">
      <div class="row justify-content-md-center h-100">
        <div class="card-wrapper">
          <br><br><br>
          <div class="card fat">
            <div class="card-body">
              <div class="col-sm-7"><h2>Editar<b> cita en espera</b></h2><br></div>

              <p id="<%= dom_id @appointment %>">

              <div class="card">
                <table class="table">
                  <thead>

                  <tr>
                    <td><b>Rut paciente</b></td>
                    <td><%= User.find_by(id: @appointment.user_id).rut %></td>
                  </tr>
                  <tr>
                    <td><b>Nombre paciente</b></td>
                    <td><%= User.find_by(id: @appointment.user_id).name_patient %></td>
                  </tr>
                  <tr>
                    <td><b>Dentista</b></td>
                    <td><%= form.collection_select :dentist_id, User.where(role_id: 2), :id, :name_dentist, class: "form-control small-input" %></td>
                  </tr>
                  <% if @appointment.status_id == 5 %>
                    <tr>
                      <td><b>Urgencia</b></td>
                      <td><%= form.collection_select :urgencia_id, Urgencium.all.order(id: :asc), :id, :name %></td>
                    </tr>
                    <tr>
                      <td><b>Mensaje</b></td>
                      <td><%= form.text_area :mensaje, class: "form-control small-input" %></td>
                    </tr>
                  <% end %>

                  </thead>
                </table>
              </div>

              <div class="form-group">
                <%= form.submit "Guardar", class: "btn btn-primary btn-sm" %>
                <%= link_to "Cancelar", appointments_pending_path, class: "btn btn-outline-danger btn-sm" %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </body>

<% end %>

<br> <br> <br>