<p style="color: green"><%= notice %></p>

<h1>Citas</h1>


<div id="appointments">
  <%= form_tag appointments_path, method: :get, class: "form-inline" do %>
    <div class="form-group">
      <%= select_tag :search, options_from_collection_for_select(User.where(role_id: 1), 'id', 'name', params[:search]), { include_blank: "Buscar por nombre de paciente", class: "form-control", data: { placeholder: 'Seleccione un paciente', allow_clear: true } } %>
    </div>

    <%= submit_tag "Buscar", class: "btn btn-primary" %>
  <% end %>
  <% if user_is_patient? || user_is_admin? || user_is_secretary? %>
     <% @appointments.each do |appointment| %>
        <%= render appointment %>
         <p>
            <%= link_to "Mostrar cita", appointment, class: "btn btn-outline-primary btn-sm"  %>
         </p>
    <% end %>
  <%end %>

  <% if user_is_dentist? %>
    <h2> Citas asignadas </h2>
     <% @appointments.each do |appointment| %>
        <%= render appointment %>
         <p>
            <%= link_to "Mostrar cita", appointment, class: "btn btn-outline-primary btn-sm" %>
         </p>
    <% end %>


  <%end %>
</div>

<%= link_to "Agendar nueva cita", new_appointment_path, class: "btn btn-success btn-sm" %>

<br>


