<title>Citas &middot; Clínica Dental San Antonio</title>

<p style="color: green"><%= notice %></p>


<div class="page-content page-container  d-flex  justify-content-center align-items-center" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-lg-16 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
                <div class="row">

                  <% if user_is_dentist? || user_is_admin? || user_is_secretary? %>

                  <div class="col-sm-7"><h2>Citas <b>pacientes</b></h2></div>
                  <div class="col-sm-5">
                      <%= form_tag appointments_path, method: :get, class: "form-inline" do %>
                        <div class="search-box">
                          <%= text_field_tag :search, params[:search], class: "search form-control", placeholder: "Buscar por nombre, apellido o rut del paciente" %>
                        </div>
                        <% end %>
                  </div>
                  <p class="card-description">
                    Citas de pacientes de la Clínica San Antonio.
                  </p>
                </div>
                <% elsif user_is_patient?%>
                    <div class="col-sm-7"><h2>Mis <b>citas</b></h2></div>

                    </div>
                    <p class="card-description">
                      Historial de citas odontológicas en Clínica San Antonio.
                    </p>
                <% end %>

            <div class="table-responsive">

              <div class="pagination">
                <%= paginate @appointments %>
              </div>

              <table class="table">
                <thead>
                <tr>
                  <th>ID No.</th>
                  <th width="100px">Rut paciente</th>
                  <th width="180px">Nombre paciente</th>
                  <th width="120px">Rut dentista</th>
                  <th width="180px">Nombre dentista</th>
                  <th>Fecha</th>
                  <th>Hora</th>
                  <th>Estado</th>
                </tr>
                </thead>

                <tbody>
                <% @appointments.each do |appointment| %>
                  <tr>
                    <td><%= appointment.id %></td>
                    <td><%= User.find_by(id: appointment.user_id).rut_patient %></td>
                    <td><%= User.find_by(id: appointment.user_id).name_patient %></td>
                    <td><%= User.find_by(id: appointment.dentist_id).rut_dentist %></td>
                    <td><%= User.find_by(id: appointment.dentist_id).name_dentist %></td>
                    <td><%= appointment.fecha %></td>
                    <td><%= appointment.hora %></td>

                    <% if appointment.status_id == 1 %>
                      <td><span class="status text-warning"><%= Status.find_by(id: appointment.status_id).name %></span></td>
                    <% elsif appointment.status_id == 2 %>
                      <td><span class="status text-success"><%= Status.find_by(id: appointment.status_id).name %></span></td>
                    <% elsif appointment.status_id == 3 %>
                      <td><span class="status text-danger"><%= Status.find_by(id: appointment.status_id).name %></span></td>
                    <% end %>

                    <td><%= link_to "Ver" , appointment, class: "btn btn-secondary" %></td>
                    <% if user_is_admin? || user_is_secretary? %>
                    <td><%= link_to "Estado", edit_appointment_path(appointment), class: "btn btn-info" %></td>
                    <% end %>
                  </tr>
                <% end %>
                </tbody>

              </table>
              <%= paginate @appointments %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>