<p style="color: green"><%= notice %></p>

<%= render @appointment %>

<div>

  <% if user_is_secretary? || user_is_admin?  %>
    <%= link_to "Editar cita", edit_appointment_path(@appointment) %> |
  <% end %>

  <%= link_to "Volver atrás", :back , class: "btn btn-outline-danger btn-sm"%>


  <% if user_is_admin? %>
    <%= button_to "Eliminar cita", @appointment, method: :delete %>
  <% end %>

</div>
