<h1>Contáctanos</h1>

<body>
<%= form_with scope: :contact, url: contacto_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.label :message %><br>
    <%= form.text_area :message %>
  </p>
  <p>
    <%= form.submit "Send" %>
  </p>
<% end %>


<iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26009.01201605914!2d-71.67419850826268!3d-35.42689619417784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9665c6bcc3c46245%3A0x246cb1aa190a825d!2sOne%20Dental%20Health!5e0!3m2!1sen!2scl!4v1703204314841!5m2!1sen!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade' frameborder='0' style='border:0' width='500' height='500' allowfullscreen></iframe>


</body>
<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>