<div id="logo">
  <!-- Aquí coloca tu logo o imagen -->
  <img src="/assets/logo.png" alt="Logo de la Clínica Dental">
</div>

<h1>Clínica Dental</h1>

<% if user_signed_in? %>
  <h3> Bienvenido <small><%= current_user.email %></small></h3>
  <%= link_to "Mi perfil", user_path(current_user)%>


  <%= link_to "Log out", destroy_user_session_path, :class => "dropdown-item", data: { turbo: true, turbo_method: :delete } %>
<% else %>
  <h3>Bienvenido</h3>

  <%= link_to "inicio sesión", new_user_session_path %>

<% end %>
<% if user_is_admin? %>
 <%= link_to "todas las citas", appointments_path %>
  <% end %>


 <%= link_to "Agenda tu cita", new_appointment_path %>


<div id="whatsapp-button" class="whatsapp-button">
  <%= render 'whats_app_button' %>
</div>
